<div class="learn-session">
    <div class="session-title">
        <img src="/images/black-multiple-choice.png" alt="">
        <h3>ODABERI TOČAN PRIJEVOD</h3>
    </div>
    <div class="word-and-phrase">
        <p class="word-hrv"><%= currentWord.nativeWord %></p>
        <p class="phrase-hrv"><%= currentWord.nativeDescription %></p>
    </div>
    <div class="kahoot-area">
        <% for (let i = 0; i < words.length; i++) { %>
        <div hx-post="/dictionary/checkWord/<%= words[i].id %>" hx-target="this" hx-trigger="click">
            <div class="kahoot-card" id="card">
                <div class="kahoot-word"><%= words[i].foreignWord %></div>
                <div class="kahoot-phrase">HINT: <%= words[i].foreignDescription %></div>
            </div>
        </div>
        <% } %>
    </div>
    <div class="invisible-buttons"> <!-- Ovo ima istu funkcionalnost kao i button-container, samo se ovo prikazuje kad je mal ekran -->
        <div class="return-home">
            <a href="/dashboard">
                <img src="/images/orange-home.png" alt="">
                <p>završi sesiju učenja</p>
            </a>
        </div>
        <div class="next-question">
            <a href="/dictionary/nextQuestion/<%= dictionaryId %>">
                <img src="/images/orange-next.png" alt="">
                <p>sljedeće pitanje</p>
            </a>
        </div>
    </div>
</div>
