<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <title>BalkanLingo</title>
        <link rel="stylesheet" href="/css/dashboard.css">
        
    </head>
    <body>
        <!-- Navbar -->
        <% include partials/navbar.ejs %>
        <div class="main">
            <!-- Main content -->
            <% for (let i = 0; i < dictionaries.length; i++) { %>
                <div class="dictionary" style="background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('<%= dictionaries[i].image_link %>');">
                  <h3 class="dictionary-name"><%= dictionaries[i].flag_icon %> <%= dictionaries[i].name %> </h3>
                  <div class="button-container">
                    
                    <% if(is_admin==true) { %>
                        <button style="padding: 4px 10px;"><a href="dictionary/dictSearch/<%= dictionaries[i].id %>"><b>UREDI RIJEČI</b></a></button>
                        <button style="padding: 4px 10px;"><a href="dictionary/adminEditDict/<%= dictionaries[i].id %>"><b>UREDI RJEČNIK</b></a></button>
                        <button style="padding: 4px 10px;"><a href="dictionary/removeDictionary/<%= dictionaries[i].id %>"><b>OBRIŠI</b></a></button>
                    <% } else { %>
                        <button style="padding: 4px 4px;"><a href="/learnSession/<%= dictionaries[i].id %>"><b>ODABERI</b></a></button>
                        <button style="padding: 4px 4px;"><a href="dictionary/removeDictionary/<%= dictionaries[i].id %>"><b>OBRIŠI</b></a></button>
                    <% } %>
                  </div>
                </div>
              <% } %>
            
                <div class="add-dictionary">
                    <a href="/dictionary/addDictionary" style="all: unset;">
                    <div class="add-button"><img src="/images/orange-add.png" alt=""></div>
                    <p>DODAJ NOVI<br>RJEČNIK</p>
                    </a>
                </div>
            
        </div>
        <hr>
        <!-- Footer -->
        <% include partials/footer.ejs %>
    </body>
</html>