<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <meta name="keywords" content="">
        <title>Listening Lesson</title>
        <link rel="stylesheet" href="/css/listenWord.css">
        <link rel="stylesheet" href="/css/dashboard.css">
</head>
<body>
    <!-- Navbar -->
    <% include partials/navbar.ejs %>
    <div class="main-content">
        <div class="button-container">
            <a href="">
                <img src="/images/orange-home.png" alt="">
                <p>završi sesiju ucenja</p>
            </a>
        </div>
        <div class="listen-area">
            <div class="listen-head">
                
                <p>POSLUŠAJ I NAPIŠI RIJEČ <%= word.foreignWord %> </p>
            </div>
            <form method="POST" action="/dictionary/checkWriting/<%= word.id %>">
                <audio controls style="display: inline-block;">
                <source src="/pronunciation/<%= word.pronunciation %>" type="audio/mpeg">
                Your browser does not support the audio element.
                <input type="hidden" name="pronunciation" value=<%= word.pronunciation %> >
            </audio>
            <input class="input-field" type="text" name="foreignWord" value="" placeholder="Upiši poslušanu riječ...">
            <button type="submit" class="check">PROVJERA</button>
            </form>
            <p class="answer">ODGOVOR JE TOČAN</p>
            <p class="word">POSLUŠANA RIJEČ:ABRAKADABRA</p>
            <div class="invisible-buttons"> <!-- Ovo ima istu funkcionalnost kao i button-container, samo se ovo prikazuje kad je mal ekran -->
                <a href="">
                    <img src="/images/orange-home.png" alt="">
                </a>
                <a href="">
                    <img src="/images/orange-next.png" alt="">
                </a>
            </div>
        </div>
        <div class="button-container">
            <a href="/dictionary/nextQuestion/<%= dictionaryId %>">
                <img src="/images/orange-next.png" alt="">
                <p>sljedeće pitanje</p>
            </a>
        </div>

    </div>
        <% include partials/footer.ejs %>
</body>
</html>